---
import Layout from "~/layouts/Layout.astro";
import Splash from "~/components/splash.astro";
---

<Layout title="Page not found">
    <Splash>
        <h2>
            <div
                class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
            >
                Sorry, but we
                <br />couldn't find
                <br />this page.
            </div>
        </h2>
    </Splash>
</Layout>