---
import Layout from '../layouts/Layout.astro';
import Compatibility from "../components/compatibility.astro";
import Features from "../components/features.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import Intro from "../components/intro.astro";
import Showcase from "../components/showcase.astro";
import Splash from "../components/splash.astro";
---

<Layout title="Chakra...">
	<Header homePage />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Intro />
      <Features />
    </div>
    <Footer />
</Layout>
